@import url("../main.css");
body {color: #FFF;}
a {color: inherit;}
a:active, a:hover, a:visited, a:link {}

#sendername {color: #fdfc7e;}
#service {color: #71c24b;}
#sn {color: #191fb1;}
#dollar {color: #FFF;}

#incoming {color: #71c24b;}
#incoming em {color: #71c24b; background-color: #333;}

#status {color: #EEE;}
#filetransfer {color: #71c24b;}
