@import url("../main.css");
body {color: #FFF; font-weight: normal;}
a {color: inherit;}
a:active, a:hover {text-decoration: none;}

#sendername {color: #fdfc7e;}
#service {color: #71c24b; text-transform: lowercase;}
#sn {color: #191fb1;}
#dollar {color: #FFF;}

#incoming {color: #fdfc7e;}
#incoming em {color: #fdfc7e; background-color: #333;}

#status {color: #EEE;}
#filetransfer {color: #fdfc7e;}
