*,body {
	font-family: Monaco;
	font-size: 10px;
	font-weight: normal;
}
body {background: #000;}
a {text-decoration: underline;}
div {font-style: normal;}

body {color: #FFF; font-weight: normal;}
a {color: #36F;}
a:active, a:hover {text-decoration: none;}

img.scaledToFitImage{ width:auto; }

#header, #status {background-color: #222; padding: 3px; font-size: 11px; text-align: center; margin-bottom: 5px;}

#filetransfer {
  width: auto;
  margin: 10px;
  padding: 10px;
  background-color: #222;
  color: #71c24b;
}
#filetransfer button { background-color: #999; color: #000; margin: 5px; padding: 5px; font-weight: bold;}
#sendername, #service, #sn, #dollar {font-size: 11px;}
#sendername:after {color: #FFF; content: '|';}

em {color: #FFF; font-size: 8px; font-style: normal; display: block; background-color: #222; float: right; padding: 1px; margin: 0px 0px 1px 2px;}

br {clear: right;}